# Required
BOT_TOKEN=5692308205:AAGP6FVHoPqy_GglSFw6l_Ljt5zF9DYavQc
SVG_RENDERER_URL=https://svg-renderer.your-domain.com

# Optional
IMAGES_PATH=/tmp/ThemerBot/
API_ROOT=http://localhost:3388
LOCAL_API_ROOT=false
# Use REDIS_HOST=redis if you are going to use docker-compose
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
STRIPE_TOKEN=...
